# Deep Dive into Pandas

## 1. Introduction & Setup

Import pandas and create simple Series and DataFrames.

In [ ]:
import pandas as pd
import numpy as np

# Creating a Series
s = pd.Series([10, 20, 30, 40, 50])
print("Series:\n", s)

# Creating a DataFrame from dict
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

## 2. Viewing & Inspecting Data

Learn how to quickly inspect data shape, info, and summary statistics.

In [ ]:
print("Shape of df:", df.shape)  # rows, columns
print("Columns names:", df.columns)
print("Data types:\n", df.dtypes)
print("Info about DataFrame:\n")
df.info()

print("Statistical summary:\n", df.describe())

## 3. Selecting Data

Selecting columns, rows, and subsets using labels and positions.

In [ ]:
# Select single column (Series)
print("Name column:\n", df['Name'])

# Select multiple columns (DataFrame)
print("Name and Salary columns:\n", df[['Name', 'Salary']])

# Select rows by position (iloc)
print("First 2 rows:\n", df.iloc[:2])

# Select rows by label (loc) - works with index labels
print("Row with index 1:\n", df.loc[1])

## 4. Filtering Rows

Use conditional statements to filter DataFrame rows.

In [ ]:
# Filter where Age > 30
print("Age > 30:\n", df[df['Age'] > 30])

# Filter multiple conditions (AND, OR)
filtered = df[(df['Age'] > 25) & (df['Salary'] > 60000)]
print("Age > 25 and Salary > 60000:\n", filtered)

# Using isin to filter multiple values
names = ['Alice', 'David']
print("Filter Names Alice or David:\n", df[df['Name'].isin(names)])

## 5. Adding & Modifying Columns

Create new columns or modify existing ones.

In [ ]:
# Add new column based on existing ones
df['Tax'] = df['Salary'] * 0.1
print("Added Tax column:\n", df)

# Modify column values
df['Salary'] = df['Salary'] + 5000  # increase salary by 5000
print("Increased Salary:\n", df)

## 6. Handling Missing Data

Detect, fill, and drop missing values.

In [ ]:
# Create DataFrame with missing values
data_nan = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': ['a', 'b', 'c', 'd']
}
df_nan = pd.DataFrame(data_nan)
print("Data with NaNs:\n", df_nan)

# Detect missing values
print("Is null:\n", df_nan.isnull())

# Drop rows with any NaN
print("Drop rows with NaN:\n", df_nan.dropna())

# Fill NaNs with a value
print("Fill NaN with 0:\n", df_nan.fillna(0))

## 7. Grouping and Aggregations

Group data and calculate aggregates like mean, sum, count.

In [ ]:
data = {
    'Department': ['Sales', 'Sales', 'IT', 'IT', 'HR', 'HR'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Salary': [50000, 60000, 70000, 80000, 40000, 45000]
}
df_group = pd.DataFrame(data)

# Group by Department and calculate mean salary
print("Mean salary by department:\n", df_group.groupby('Department')['Salary'].mean())

# Multiple aggregations
print("Multiple aggregates:\n", df_group.groupby('Department').agg({'Salary': ['mean', 'sum', 'count']}))

## 8. Sorting Data

Sort by columns ascending/descending.

In [ ]:
# Sort by Salary descending
print("Sorted by Salary descending:\n", df_group.sort_values(by='Salary', ascending=False))

## 9. Working with Dates

Convert strings to datetime and extract date components.

In [ ]:
date_data = {
    'OrderID': [1, 2, 3],
    'OrderDate': ['2021-01-01', '2021-06-15', '2021-12-31']
}
df_dates = pd.DataFrame(date_data)
print("Original DataFrame:\n", df_dates)

# Convert to datetime
df_dates['OrderDate'] = pd.to_datetime(df_dates['OrderDate'])
print("After conversion to datetime:\n", df_dates)

# Extract year, month, day
df_dates['Year'] = df_dates['OrderDate'].dt.year
df_dates['Month'] = df_dates['OrderDate'].dt.month
df_dates['Day'] = df_dates['OrderDate'].dt.day
print("Extracted date components:\n", df_dates)

## 10. Merging and Joining DataFrames

Combine data from multiple DataFrames using merge and join.

In [ ]:
df1 = pd.DataFrame({
    'Employee': ['Alice', 'Bob', 'Charlie'],
    'Dept': ['Sales', 'IT', 'HR']
})
df2 = pd.DataFrame({
    'Employee': ['Alice', 'Bob', 'David'],
    'Salary': [50000, 60000, 70000]
})

# Inner join on Employee
merged = pd.merge(df1, df2, on='Employee', how='inner')
print("Inner Join:\n", merged)

# Left join
left_join = pd.merge(df1, df2, on='Employee', how='left')
print("Left Join:\n", left_join)

## 11. Pivot Tables

Summarize data using pivot tables.

In [ ]:
data = {
    'Date': ['2021-01-01', '2021-01-01', '2021-01-02', '2021-01-02'],
    'City': ['NY', 'LA', 'NY', 'LA'],
    'Sales': [100, 200, 150, 250]
}
df_pivot = pd.DataFrame(data)
pivot_table = df_pivot.pivot_table(index='Date', columns='City', values='Sales', aggfunc='sum')
print("Pivot Table:\n", pivot_table)

## 12. Applying Functions

Use `apply()`, `map()`, and vectorized operations.

In [ ]:
# apply function to column
df['Salary_K'] = df['Salary'].apply(lambda x: x/1000)
print("Salary in thousands:\n", df)

# map on Series
mapping = {'Alice': 'A', 'Bob': 'B', 'Charlie': 'C', 'David': 'D'}
df['Initial'] = df['Name'].map(mapping)
print("Mapped initials:\n", df)

## 13. Handling Duplicates

Detect, drop, and keep duplicates.

In [ ]:
data_dup = {
    'A': [1, 2, 2, 3, 3, 3],
    'B': ['x', 'y', 'y', 'z', 'z', 'z']
}
df_dup = pd.DataFrame(data_dup)
print("Original Data with duplicates:\n", df_dup)

# Find duplicates
print("Duplicates:\n", df_dup.duplicated())

# Drop duplicates
print("After dropping duplicates:\n", df_dup.drop_duplicates())

## 14. Exporting Data

Save DataFrames to CSV and Excel.

In [ ]:
# Export to CSV
df.to_csv('output.csv', index=False)

# Export to Excel
df.to_excel('output.xlsx', index=False)

print("Exported DataFrame to CSV and Excel")

---

### Summary:
- Created Series and DataFrames
- Viewed and selected data
- Filtered, added columns, handled missing data
- Grouped, merged, and pivoted data
- Applied functions, handled duplicates
- Exported data

This notebook is a solid foundation for working with Pandas.